version: "3.3"

networks:
  hrm-tool-bridge:
      driver: bridge
      ipam:
          driver: default
          config:
              - subnet: "192.170.0.0/24"

volumes:
  db:
#  mysql-logs:
  minio-data:
  mailpit-data:

services:
#  mysqldb:
#    image: mysql:8
#    restart: unless-stopped
#    env_file: .env
#    environment:
#      - MYSQL_ROOT_PASSWORD=admin123
#    ports:
#      - "3307:3306"
#    command:
#      --sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
#      --table_definition_cache=100
#      --performance_schema=0
#      --character-set-server=utf8mb4
#      --collation-server=utf8mb4_unicode_ci
#      --general-log=1
#      --general-log-file=/var/log/mysql/mysql-general.log
#      --log-error=/var/log/mysql/mysql-error.log
#      --slow-query-log=1
#      --slow-query-log-file=/var/log/mysql/mysql-slow.log
#    volumes:
#      - ./db:/var/lib/mysql
#      - ./mysql-logs:/var/log/mysql
#      - ./init:/docker-entrypoint-initdb.d
#    deploy:
#      resources:
#        limits:
#          cpus: "2"
#          memory: "2G"
#    networks:
#      - hrm-tool-bridge
    
  hrm-tool-spring:
    depends_on:
      - minio
#      - mysqldb
    restart: unless-stopped
    env_file: ./.env
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SPRING_ACTIVE_PROFILE: local
        VERSION: 1.0.5
    profiles:
      - debug
    ports:
      - 8080:$SPRING_BOOT_DOCKER_PORT
      - 5005:$SPRING_BOOT_DOCKER_DEBUG_PORT
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
        - action: rebuild
          path: pom.xml
    environment:
      SERVER_ADDRESS: 0.0.0.0
      SERVER_PORT: $SPRING_BOOT_DOCKER_PORT
#      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:$MYSQLDB_CONTAINER_PORT/hrm-tool?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useUnicode=true&character_set_server=utf8mb4&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC
      SPRING_DATASOURCE_URL: jdbc:mysql://host.docker.internal:3306/hrm?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useUnicode=true&character_set_server=utf8mb4&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL8Dialect
      SPRING_PROFILES_ACTIVE: local
      AWS_S3_ENDPOINT: http://minio:9000
      AWS_S3_REGION: us-east-1
      AWS_S3_ACCESSKEYID: minioadmin
      AWS_S3_SECRETKEY: minioadmin
      AWS_S3_BUCKET: hrm-tool
      AWS_S3_OBJECT_URL: http://localhost:9000/hrm-tool
    command: >
      mvn spring-boot:run
      -Dspring-boot.run.fork=true
      -Dspring-boot.run.jvmArguments="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
    volumes:
      - .:/app
    stdin_open: true
    tty: true
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: "1G"
    networks:
      - hrm-tool-bridge

  minio:
    image: minio/minio:latest
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Minio Console
    volumes:
      - minio-data:/data
    networks:
      - hrm-tool-bridge

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/hrm-tool;
      /usr/bin/mc anonymous set public myminio/hrm-tool;
      exit 0;
      "
    networks:
      - hrm-tool-bridge


  mailpit:
    image: 'axllent/mailpit:latest'
    container_name: mailpit
    restart: unless-stopped
    ports:
      - '8025:8025' # Web UI
      - '1025:1025' # SMTP
    environment:
      MP_DATABASE: /data/mailpit.db
      MP_MAX_AGE: 12h
      TZ: UTC
    volumes:
      - mailpit-data:/data
    networks:
      - hrm-tool-bridge

