<html>
<body>
<span>Subject: </span> Leave Approval for <span th:text="${date}"></span><br>
Hi <span th:text="${fullName}"></span>,
<br>
<p>We have received your leave request for <span th:text="${date}"></span>
<br>As of <span th:text="${dateToday}"></span>, your request is approved.
<br>Please make sure you complete all the work before your leave.
<br><br> Best regards,<br>VATEK.<br><br>==========================
<br>This is an automatic message, please do not reply to this email!</p>
</body>
</html>
